# Backend
backend/secrets/
backend/outputs/


# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# DuckDB
*.duckdb
*.duckdb.wal

# Node
node_modules/
.next/
tsconfig.*.tsbuildinfo

# Env
.env
.env.local

# OS
.DS_Store
*.mov
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform/.env
frontend/dist/
docs-new/
auth0/config.json
*.db
